# ==============================================================================
# Project-Specific
# ==============================================================================

# Output of `go build`
run

# Output of `GOBIN="$PWD/bin" go install`
bin/

# Testing Runfile(s)
Runfile
runfile.sh
*.run
*.rf

# ==============================================================================
# Build Assets
# ==============================================================================

# GoReleaser
dist/

# ==============================================================================
# GoLang
# ==============================================================================

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
